html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	/*background-color: LightGray;*/
    background-color: #FFFFFF;
}

/*div {
	border: 1px solid Chocolate;
}*/

/*Headings*/
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: #9EA3AA;
}

/* Nav bar */
.top-navigation{
	background-color: #fff;
    /*position: fixed;    Allows jumbotron to start from top*/
    width: 100%;
  
    /*background-color: rgba(255, 255, 255, 0.8);*/
    
    position: absolute;
    top: 0;
    height: 70px;
}

.top-navigation > .content {
	/*width: 970px;*/
    width: 46rem;
	min-height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    letter-spacing: 0.03em;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.logo {
	margin: 15px;
}

.jumbotron {
	background-image: url("../images/first-background.jpg");
    background-size: cover;
    background-position: center bottom;
    height: 46rem;

    color: #FFFFFF;
    text-align: center;
    padding: 15rem 0;   /*Fixed text wrapping by removing side padding */

    /*width: 46rem;*/
}

.buttons {
    width: 10rem;
    background-color: #f15a29;
    border-radius: 4px;
    border-style: none;
    padding: 1rem 1.5rem;
    color: #FFFFFF;
    margin: 0 auto;
}

.icons {
    text-align: center;
    /*width: 60%;*/
    width: 46rem;
    min-width: 37rem;
    margin: 0 auto;
    padding-top: 80px;
    overflow: hidden;
}

.icons img {
    width: 127px;
}

.icons li {
    display: inline-block;
    width: 33.3%;
    float: left;
}

.social {
    width: 20rem;
    margin: auto;
    text-align: center;
}

.footicons {
    padding: 0;
}

.footicons li {
    display: inline-block;
    border-style: solid;
    border-color: #838994;
    border-width: 1px;
    box-sizing: normal;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    padding: 0.6rem 0;
}

.fa-twitter {
    color: #7AC8F7;
}

.fa-facebook {
    color: #405D9A;
}

.fa-instagram {
    color: #3f729b;
}